                    /*body * {
            outline: 1px solid palevioletred;
        }*/
                    
                    @font-face {
                        font-family: "Commit";
                        src: url("font/comic-sans-ms-bold_[allfont.es].ttf");
                    }
                    
                    @font-face {
                        font-family: "arial-narrow";
                        src: url("font/arial-narrow_[allfont.es].ttf");
                    }
                    
                    .contenedortotal {
                        background-image: linear-gradient(#38262c, #6f5964, #38262c);
                        width: 970px;
                        min-height: auto;
                    }
                    
                    #Cabezera {
                        background-color: #f8f8f8f6;
                        width: 970;
                        height: 60px;
                        display: flex;
                    }
                    
                    h1 {
                        text-align: left;
                        font-family: "Commit";
                        margin: 5px;
                    }
                    
                    h2 {
                        text-align: right;
                        padding-left: 340px;
                        font-family: "arial-narrow";
                        margin: auto;
                    }
                    
                    #contenedorfotoytexto {
                        height: 300px;
                        background-image: #8a8895;
                    }
                    
                    .central1 {
                        display: inline-block;
                        width: 428px;
                        vertical-align: top;
                        margin: 12px;
                        height: 281px;
                        background-image: linear-gradient(#fcf4fb, #c0aeb8);
                    }
                    
                    .central2 {
                        display: inline-block;
                        width: 487px;
                        vertical-align: top;
                        margin: 12px;
                        height: 281px;
                        background-image: linear-gradient(#fcf4fb, #c0aeb8);
                    }
                    
                    .mujer {
                        width: 416px;
                        height: 270px;
                        margin-right: 150px;
                        padding: 5px 5px 5px 5px;
                        background-color: aliceblue;
                    }
                    
                    #About-titulo {
                        width: 487px;
                        height: 30px;
                        background-image: linear-gradient(#a4a3aa, #8a8895, #a4a3aa);
                        ;
                        color: rgb(241, 241, 241);
                        margin: auto;
                        font-family: "arial-narrow";
                    }
                    
                    #About {
                        width: 487px;
                        height: 251px;
                        padding-left: 10px;
                        font-family: "arial-narrow";
                        font-size: large;
                        text-decoration: none;
                    }
                    /*tarjetas*/
                    
                    #contenedorcardsx3 {
                        min-height: 400px;
                    }
                    
                    .tarjetas {
                        display: inline-block;
                        width: 300px;
                        background-image: linear-gradient(#fcf4fb, #c0aeb8);
                        vertical-align: top;
                        margin: 10px;
                        height: 535px;
                    }
                    
                    .imagen {
                        height: 133px;
                        width: 300px;
                    }
                    
                    .texto-tarjetas {
                        height: 135px;
                        font-family: "arial-narrow";
                        font-size: large;
                    }
                    
                    h3 {
                        height: 30px;
                        width: 300pxpx;
                        background-image: linear-gradient(#a4a3aa, #8a8895, #a4a3aa);
                        margin: auto;
                        color: rgb(241, 241, 241);
                        font-family: "arial-narrow";
                        padding: 3px;
                    }
                    
                    h4 {
                        background-image: linear-gradient(#a4a3aa, #8a8895, #a4a3aa);
                        ;
                        width: 294px;
                        height: 30px;
                        color: rgb(241, 241, 241);
                        font-family: "arial-narrow";
                        padding: 3px;
                    }
                    
                    .imagenes-redes {
                        width: 30px;
                        height: 30px;
                        margin: 4px;
                    }
                    
                    .boton {
                        display: block;
                        background-color: #407d61;
                        padding: 8px;
                        border: 1px solid rgb(45, 44, 58);
                        color: #f8f8f8;
                        text-decoration: none;
                        bottom: 10px;
                        width: 106px;
                        border-radius: 10px;
                        height: 8px;
                        text-align: center;
                        margin: auto;
                        font-family: "arial-narrow";
                        padding: 5px 0px 15px;
                    }
                    
                    #final {
                        width: 970px;
                        height: 88px;
                        text-align: center;
                        margin-block-end: auto;
                        background-color: #f8f8f8f6;
                    }
                    
                    h5 {
                        font-family: "arial-narrow";
                        padding: 3px;
                    }
                    
                    .imagenfinal {
                        height: 30px;
                    }
                    
                    a {
                        color: black;
                    }